.footer-center {
    max-width: 1200px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-links {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.footer-links a {
    display: flex;
    margin: 10px;
    color: white;
    text-decoration: none;
}
